.App {
  text-align: center;
}

body{
 background-color: darkslategray;
}

#Searchbar{
 margin-top: 5%; 
}

#Filter{
  margin-top: 10%;
  width: auto;
}

img{
  width: 80%;
  height: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
}
table {
  width: 40%; 
  margin: 4% auto; 
  border-collapse: collapse; 
  text-align: center; 
}

th {
  background-color: #808080; 
  padding: 10px;
  border: solid black;
}

.Table {
  background-color:lightgrey;
  padding: 10px;
  border: 1px solid #ddd; 
  font-size: 90%;
  border: solid black;
}

.pageNavigation{
  width: 40%;
  padding: 8px;
  border: solid black;
  background-color: lightgray;
  padding: 10px;
  margin: 4% auto;
}

#navigation{
  width: 50%;
  table-layout: fixed;
}

.navigationRow{
  width: 50%; 
  text-align: center;
}

.checkbox{
  text-align:center;
  width: 5%;
}